<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectUpdate">
            <h2><span>Project Update</span> {{projectUpdate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key Milestone Update</span></dt>
                <dd>
                    <span>{{projectUpdate.keyMilestoneUpdate}}</span>
                </dd>
                <dt><span>Comments</span></dt>
                <dd>
                    <span>{{projectUpdate.comments}}</span>
                </dd>
                <dt><span>Task Plan</span></dt>
                <dd>
                    <span>{{projectUpdate.taskPlan}}</span>
                </dd>
                <dt><span>Risk</span></dt>
                <dd>
                    <span>{{projectUpdate.risk}}</span>
                </dd>
                <dt><span>Support Neaded</span></dt>
                <dd>
                    <span>{{projectUpdate.supportNeaded}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-update', projectUpdate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
