<div>
    <h2 id="page-heading">
        <span>Tasks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task" [routerLink]="['/task/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Task
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tasks?.length === 0">
        <span>No tasks found</span>
    </div>
    <div class="table-responsive" *ngIf="tasks?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Estimated Date</span></th>
            <th><span>Details</span></th>
            <th><span>Status</span></th>
            <th><span>Project Update</span></th>
            <th><span>Comment</span></th>
            <th><span>User</span></th>
            <th><span>Team</span></th>
            <th><span>Assigned Team</span></th>
            <th><span>Milestone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks ;trackBy: trackId">
                <td><a [routerLink]="['/task', task.id, 'view' ]">{{task.id}}</a></td>
                <td>{{task.name}}</td>
                <td>{{task.estimatedDate | date:'medium'}}</td>
                <td>{{task.details}}</td>
                <td>
                    <div *ngIf="task.status">
                        <a [routerLink]="['../status', task.status?.id, 'view' ]" >{{task.status?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let projectUpdate of task.projectUpdates; let last = last">
                            <a class="form-control-static" [routerLink]="['../project-update', projectUpdate?.id, 'view' ]">{{projectUpdate.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let comment of task.comments; let last = last">
                            <a class="form-control-static" [routerLink]="['../comment', comment?.id, 'view' ]">{{comment.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let user of task.users; let last = last">
                            {{user.id}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let team of task.teams; let last = last">
                            <a class="form-control-static" [routerLink]="['../team', team?.id, 'view' ]">{{team.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="task.assignedTeam">
                        <a [routerLink]="['../team', task.assignedTeam?.id, 'view' ]" >{{task.assignedTeam?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="task.milestone">
                        <a [routerLink]="['../milestone', task.milestone?.id, 'view' ]" >{{task.milestone?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/task', task.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/task', task.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'task', { outlets: { popup: task.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
