<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <h2><span>Project</span> {{project.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{project.name}}</span>
                </dd>
                <dt><span>Objective</span></dt>
                <dd>
                    <span>{{project.objective}}</span>
                </dd>
                <dt><span>Target</span></dt>
                <dd>
                    <span>{{project.target}}</span>
                </dd>
                <dt><span>Budget</span></dt>
                <dd>
                    <span>{{project.budget}}</span>
                </dd>
                <dt><span>Risk</span></dt>
                <dd>
                    <span>{{project.risk}}</span>
                </dd>
                <dt><span>Benefit Mesurement</span></dt>
                <dd>
                    <span>{{project.benefitMesurement}}</span>
                </dd>
                <dt><span>Business Case</span></dt>
                <dd>
                    <div *ngIf="project.businessCase">
                        <a [routerLink]="['/business-case', project.businessCase?.id, 'view']">{{project.businessCase?.id}}</a>
                    </div>
                </dd>
                <dt><span>Performance</span></dt>
                <dd>
                    <span *ngFor="let performance of project.performances; let last = last">
                        <a [routerLink]="['/performance', performance?.id, 'view' ]">{{performance.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
