<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="milestone">
            <h2><span>Milestone</span> {{milestone.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{milestone.name}}</span>
                </dd>
                <dt><span>Target</span></dt>
                <dd>
                    <span>{{milestone.target}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{milestone.description}}</span>
                </dd>
                <dt><span>Workstream</span></dt>
                <dd>
                    <span>{{milestone.workstream}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{milestone.code}}</span>
                </dd>
                <dt><span>Track</span></dt>
                <dd>
                    <span>{{milestone.track}}</span>
                </dd>
                <dt><span>Estimated End Date</span></dt>
                <dd>
                    <span>{{milestone.estimatedEndDate}}</span>
                </dd>
                <dt><span>Actual End Date</span></dt>
                <dd>
                    <span>{{milestone.actualEndDate}}</span>
                </dd>
                <dt><span>Result</span></dt>
                <dd>
                    <span>{{milestone.result}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <div *ngIf="milestone.status">
                        <a [routerLink]="['/status', milestone.status?.id, 'view']">{{milestone.status?.id}}</a>
                    </div>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    {{milestone.owner?.id}}
                </dd>
                <dt><span>Field</span></dt>
                <dd>
                    <span *ngFor="let field of milestone.fields; let last = last">
                        <a [routerLink]="['/field', field?.id, 'view' ]">{{field.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Project Update</span></dt>
                <dd>
                    <span *ngFor="let projectUpdate of milestone.projectUpdates; let last = last">
                        <a [routerLink]="['/project-update', projectUpdate?.id, 'view' ]">{{projectUpdate.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Performance</span></dt>
                <dd>
                    <span *ngFor="let performance of milestone.performances; let last = last">
                        <a [routerLink]="['/performance', performance?.id, 'view' ]">{{performance.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <span *ngFor="let comment of milestone.comments; let last = last">
                        <a [routerLink]="['/comment', comment?.id, 'view' ]">{{comment.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Delivrable</span></dt>
                <dd>
                    <div *ngIf="milestone.delivrable">
                        <a [routerLink]="['/delivrable', milestone.delivrable?.id, 'view']">{{milestone.delivrable?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/milestone', milestone.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
