<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="benefit">
            <h2><span>Benefit</span> {{benefit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{benefit.description}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <div *ngIf="benefit.type">
                        <a [routerLink]="['/benefit-type', benefit.type?.id, 'view']">{{benefit.type?.id}}</a>
                    </div>
                </dd>
                <dt><span>Business Case</span></dt>
                <dd>
                    <div *ngIf="benefit.businessCase">
                        <a [routerLink]="['/business-case', benefit.businessCase?.id, 'view']">{{benefit.businessCase?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/benefit', benefit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
