<div>
    <h2 id="page-heading">
        <span>Benefits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-benefit" [routerLink]="['/benefit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Benefit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="benefits?.length === 0">
        <span>No benefits found</span>
    </div>
    <div class="table-responsive" *ngIf="benefits?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Type</span></th>
            <th><span>Business Case</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let benefit of benefits ;trackBy: trackId">
                <td><a [routerLink]="['/benefit', benefit.id, 'view' ]">{{benefit.id}}</a></td>
                <td>{{benefit.description}}</td>
                <td>
                    <div *ngIf="benefit.type">
                        <a [routerLink]="['../benefit-type', benefit.type?.id, 'view' ]" >{{benefit.type?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="benefit.businessCase">
                        <a [routerLink]="['../business-case', benefit.businessCase?.id, 'view' ]" >{{benefit.businessCase?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/benefit', benefit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/benefit', benefit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'benefit', { outlets: { popup: benefit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
